<div class="flex">
  {{#each media}}
  <a href="{{this.media_url}}" data-lightbox="gallery">
    <div class="frame">
      <img src="{{this.media_url}}" alt="{{this.caption}}">
    </div>
  </a>
  {{/each}}
</div>