body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #000;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.frame {
  height: 240px;
  width: 240px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}